# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json
terraform/.terraform.lock.hcl
terraform/tfplan
terraform/*.auto.tfvars
terraform-outputs.json

# AWS
credentials
.aws/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
